$green: #85ffbd; //color del background body (ojo que es degradado)

body {
  background-color: $green;
  background-image: linear-gradient(
    45deg,
    #85ffbd 0%,
    #fffb7d 50%,
    #ffffff 100%
  );
}

i {
  font-size: 1.7rem;
  font-weight: bold;
  color: blue;
  margin: 0 0.8rem;
  padding-bottom: 2rem;
}
.jumbotron {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);

  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2.2rem;
}

.jumbotron hr {
  margin-bottom: -1.3rem;
}

span {
  color: blue;
  font-size: 1.7rem;
}

.redes {
  font-size: 1rem;
}

.border {
  border: 1px solid rgb(209, 203, 203);
}

.btn {
  transition: all 0.5s ease-in-out;
  margin-bottom: 0.4rem;
}
.btn:hover {
  background-color: lightblue;
}

.padding-more a {
  padding: 0.4rem 0;
}

address i {
  font-size: 1.2rem;
}

.bread_ {
  width: 60%;
}

img {
  height: 15rem;
}

table .titulo {
  text-transform: uppercase;
  font-size: 1.2rem;
}

.collapse {
  font-size: 1rem;
}
.centrado {
  display: flex;
  justify-content: center;
}

.btn-contacto {
  height: 5rem;
  width: 16rem;
}

.carousel-item {
  height: auto;
}

.w-100 {
  height: auto;
}
